* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Consolas';
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#vmap {
  width: 65%;
  height: 100%;
}

.svg-ie {
  display: inline-block;
}

.jqvmap-zoomin {
  opacity: 0.7;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #5361a5;
}

.jqvmap-zoomout {
  opacity: 0.7;
  width: 30px;
  height: 30px;
  top: 55px;
  line-height: 30px;
  background-color: #5361a5;
}

#app {
  float: left;
  width: 35%;
  padding: 2em;
  background-color: black;
  color: white;
}

ul {
  list-style: none;
}